<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width=devide-width, initial-scale=1">
    <meta charset="utf-8">
</head>
<body>
    <div class="jumbotron">
        <h1 class="text">A Pizza</h1>
        <hr />
        <p class="text">
            &nbsp;&nbsp;&nbsp;&nbsp;Pizzas podem ter uma centena de coberturas. A primeira redonda criada por Rafaelle Esposito, em 1889, para ser servida à rainha Margherita, da Itália, foi enfeitada com as cores da bandeira italiana: queijo (branco), manjericão (verde) e tomate (vermelho). No início do século XVIII, Rosa e Raffael Espósito, comerciantes de Nápoles, Itália, produziam e vendiam um alimento, aperfeiçoado da popular massa de pão, recheada de torresmos, azeitona e queijo “cavalo”, que abastecia as mesas das famílias pobres de Nápoles, desde o início daquele milênio, denominada Pizza.<br />
            <br />
            &nbsp;&nbsp;&nbsp;&nbsp;A Fama dos Espósito correu a Itália e fez com que o Rei Umberto I realizasse uma verdadeira operação de guerra para trazer à cozinha do palácio o casal Espósito para que preparassem para a Rainha Margherita de Sabóia, uma pizza, que acabara de inventar, com sabor do manjericão, sobre a massa coberta por mussarela e rodelas de tomate.<br />
            <br />
            &nbsp;&nbsp;&nbsp;&nbsp;O encantamento da Rainha pela pizza acabou determinando o nome de “Margherita” para aquele tipo de recheio. Port’Alba foi a primeira pizzaria de que se tem registro. Surgiu em Nápoles em 1830. A partir daí se disseminou pelas regiões vizinhas e ganhou o mundo com os navios dos imigrantes italianos.<br />
            <br />
            &nbsp;&nbsp;&nbsp;&nbsp;No Brasil, até os anos 50, as pizzarias eram uma exclusividade das colônias italianas e seus redutos.<br />
            <br />
            &nbsp;&nbsp;&nbsp;&nbsp;A partir daí elas se disseminaram por todo o país até se transformarem, nos dias atuais, num dos mais saborosos pratos de nossa culinária.<br />
            <br />
            &nbsp;&nbsp;&nbsp;&nbsp;A Pizzaria Rush se inspira nestes registros da história da pizza, para manter a tradição na produção artesanal de pizzas, assadas em forno à lenha, com produtos de qualidade.
        </p>
    </div>
</body>
</html>