@{
    ViewBag.Title = "Sobre a Pizza Rush";
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width=devide-width, initial-scale=1">
    <meta charset="utf-8">
</head>
<body>
    <div class="text jumbotron" id="classtext">
        <h1 class="text">Nossa Pizza</h1>
        <hr />

        <p>
            Aprendemos a fazer pizza com nossos antepassados napolitanos. O preparo é inteiramente artesanal. A massa é trabalhada com as mãos e descansa por no mínimo 48 horas antes de ser aberta. A pizza é degustada macia, bem assada e suave. As bordas elevadas são douradas e trazem um delicioso aroma. Na hora de recheá-la, além do vínculo com nossas tradições também buscamos referências contemporâneas, interpretando culturas, harmonizando ingredientes e criando novas experiências gastronômicas.
        </p>
        <p>
            <img src="~/Images/apaixonados.png" id="imgtext">
            Ingredientes garimpados, receitas inspiradas, hospitalidade em cada detalhe. Com 20 anos de história e o posto entre as 10 melhores pizzarias do mundo - em ranking dos jornais The Guardian e Corriere della Sera -, a Pizzaria Rush é apaixonada por pizza, como você.
        </p>
    </div>
</body>
</html>