body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */

#classtext {
    padding-bottom: 50px;
}

.text img {
    float: left;
    max-width: 186px;
}

.text p {
    text-align: justify;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#imgtext {
    padding-right: 2px;
}

.invisivel {
    display: none;
}